<h1 class="jumbotron">Blocipedia</h1>
<div class="row">
  <div class="col-md-8">
    <p>Where anyone can create a wiki!</p>
    <p><%= link_to "Sign up today!", new_user_registration_path, class: "btn btn-primary" %></p>
    <br>
    <p><%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-default" %></p>
  </div>
</div>
