<h1>Blocipedia</h1>
<p>Where anyone can create a wiki!</p>
<p><%= link_to "Sign up today!", new_user_registration_path %></p>
<br>
<p><%= link_to "Edit your profile", edit_user_registration_path %></p>
