<div class="row">
  <div class="col-md-8">
    <h3><%= link_to wiki.title, wiki %></h3>
    <% if wiki.private %>
      <small></em>private</em></small>
    <% end %>
    <p><%= @markdown.render(@wiki.body).html_safe %></p>
  </div>
</div>
