<h2>Currently Available Wikis</h2>
<% if policy(@wikis).index? %>
  <% @wikis.each do |wiki| %>
    <%= render wiki if policy(wiki).show? %>
  <% end %>
  <br>
  <%= link_to "Create New Wiki", new_wiki_path %>
<% end %>
