<% if policy(@wiki).show? %>
  <%= render @wiki %>
  <div class="row">
    <div class="col-md-8">
      <%= link_to "Edit This Wiki", edit_wiki_path, class: "btn btn-primary" if policy(@wiki).edit? %><br>
      <%= link_to "Delete This Wiki", @wiki, method: :delete, class: "btn btn-danger" if policy(@wiki).destroy? %>
    </div>
  </div>
<% else %>
  <h2>You are not authorized to view this wiki!</h2>
<% end %>
