<%= form_tag charges_path do %>
   <h2>Upgrade today!</h2>
   <p>What are you waiting for? Only $15 measly American dollars gets you premium access!</p>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
 <% end %>
